1. Write a program to find sum of all elements in a list of integers

In [1]:
list1 = [11,22,33,44,55]
Sum = sum(list1)
print("Sum of all integers is", Sum)

Sum of all integers is 165

2. Input a sentence as a string

   a. Print its length

   b. Print the first half of string

In [2]:
S = "Welcome to the World of Python"
len(S)

30

In [3]:
print(S[0:14])

Welcome to the

3. Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39) change the third
value in the tulpe to 100

In [4]:
t1 = (78,45,32,19,82,77,40,39)
t1[2] = 100          #unchangable

TypeError: ignored

4. Consider a list listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]

a. Delete the first occurance of 32

In [5]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

b. Delete all occurance of 40

In [6]:
listA = [19,10,55,31,32,94,29,10,65,77,40,40]
listA.pop()
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]

In [7]:
listA.pop()
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

  c. Delete the value at index = 5

In [8]:
listA = [19,10,55,31,32,94,29,10,65,77]
del listA[5]
listA

[19, 10, 55, 31, 32, 29, 10, 65, 77]

d. Modify the value at index = 9 as 300

In [9]:
listA = [19,10,55,31,32,29,10,65,77]
listA[9]= 300
listA

IndexError: ignored

   e. Add 200 at index = 2

In [10]:
listA = [19,10,55,31,32,29,10,65,77]
listA[2]= 200 + listA[2]
listA

[19, 10, 255, 31, 32, 29, 10, 65, 77]

  f. Print the final list with its length maximum value and sum of all elements

In [11]:
listA = [19,10,255,31,32,29,10,65,77]
Sum=sum(listA)
print("Sum of all elements is" , Sum)
len(listA)

Sum of all elements is 528

9

6. Consider a string &quot;The day has been long&quot;

  a. Delete the value at index = 4

In [22]:
S = "The day has been long"
print(S[0:3],S[5:21])

The ay has been long

b. Print the string 4 times in a single line with space between each repetition

In [15]:
print("The ay has been long "*4)

The ay has been long The ay has been long The ay has been long The ay has been long

c. Print the string 3 times in a new line each time

In [17]:
print("The ay has been long\n"*3)

The ay has been long
The ay has been long
The ay has been long

d. Modify the string at index 7 as &#39;A

In [19]:
S = "The ay has been long"
print(S[0:6]+ " A " +S[7:20])

The ay A has been long

e. Print the string from index 4 to 15

In [20]:
S = "The ay A has been long"
print(S[4:16])

ay A has bee

f. Print the final string with its length

In [21]:
print(S)
len(S)

The ay A has been long

22